* {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav {
  width: 70%;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }
}
