$color-myCave: #f2aa6b;
$color-redHighlight: #f20519;
$color-wine: #8c031c;
$color-greyTech: #8c8c8c;
$color-dark: #0d0d0d;

@import "foundation/bottlesList";
@import "foundation/updateBottles";
@import "foundation/home";
